doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title
			|	Red Box
		link(href='https://fonts.googleapis.com/css?family=Handlee', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Freckle+Face', rel='stylesheet', type='text/css')
		link(rel="stylesheet", type="text/css", href="../css/estilos.css")
	body
		div.u-centrar
			include ../components/Header/template.jade
			include ../components/Center/template.jade
		//- include ../components/Panels/template.jade
		//- include ../components/Footer/template.jade
		// build:js ../js/combined.js
		//- script("text/javascript", src="../js/jquery-2.2.1.min.js")
		//- script("text/javascript", src="../js/scrollreveal.min.js")
		//- script("text/javascript", src="../js/funciones-index.js")
		// endbuild