/*FOOTER*/

.Footer
	display inline-block
	width 100%
	background $dark_red
	padding-top 20px
	border-radius 0 0 15px 15px
	margin-bottom 7px
	
		
	/*Redes*/
	&-redes
		display inline-block
		width 100%
		background url('../images/01-index/fondo-redes.png') center no-repeat
	&-redesButton
		cursor pointer
		display inline-block
		margin 0 1%
		width 40px
	&-copy
		display inline-block
		width 100%
	&-copyText
		font-family: 'Handlee', cursive
		font-weight 400
		font-size 0.81em
		color $white
	&-copyLink
		color $white
		cursor pointer
@media screen and (min-width:840px)		
	.Footer		
		padding-top 115px
/*Tablet Landscape*/
@media screen and (min-width:1024px)
	.Footer		
		padding-top 115px