footer.Footer
	div.Footer-redes
		a.Footer-redesButton(href="")
			img.Footer-redesFace(src="../images/01-index/icon-fb.png")
		a.Footer-redesButton(href="")
			img.Footer-redesTw(src="../images/01-index/icon-tw.png")
	div.Footer-copy
		h5.Footer-copyText
			|	 ©REDBOX todos los derechos reservados I  Diseñado y desarrollado por
			a.Footer-copyLink(href="http://www.paxzu.co/", target="_blank")
				|	PAXZU