/*CENTER*/

.Center
	display inline-block
	width 100%
	background $white
	
	&-text
		font-family: 'Handlee', cursive
		font-weight 400
		font-size 1.25em
		color $gray
		max-width 625px
		display inline-block
		margin 60px 0 15px
	&-list
		display inline-block
		width 100%
		margin 15px 0
	&-item
		display inline-block
		cursor pointer
		vertical-align top
		margin 2.5% 30px
		&:hover
			.Center-redBox
				animation .3s rotarZ
	&-redBox
		width 85px
		height 85px
		background $light_red
		display inline-block
		border-radius 10px
		transform rotateZ(-7deg)
		transition all .3s ease
	&-redimage
		transform rotateZ(7deg)
	&-pedido
		font-family: 'Handlee', cursive
		font-weight 400
		font-size 1.25em
		color $gray
		margin 0
		margin-top .7em
	&-pedidoBold
		font-weight 400
		font-size 1.87em
		color $black
		margin 0
	&-pedidoBoldpag
		font-weight 400
		font-size 1.25em
		color $black
		margin 0
		
@keyframes rotarZ
	0%
		transform rotateZ(10deg)
	25%
		transform rotateZ(-11deg)
	75% 
		transform rotateZ(7deg)
	100%
		transform rotateZ(0deg)
@media screen and (min-width:400px)
	.Center
		&-item
			margin 2.5%