section.Center
	h2.Center-text
		|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	div.Center-list
		a.Center-item(href="#")
			div.Center-redBox
				img.Center-redimage(src="../images/01-index/cel.png")
			h3.Center-pedido
				|	Pide por teléfono
			h3.Center-pedidoBold
				|	605 0000
		a.Center-item(href="#")
			div.Center-redBox
				img.Center-redimage(src="../images/01-index/tel.png")
			h3.Center-pedido
				|	Pide por
			img(src="../images/01-index/logo-domicilios.png")
		a.Center-item(href="#")
			div.Center-redBox
				img.Center-redimage(src="../images/01-index/map.png")
			h3.Center-pedido
				|	Ve a la sucursal
			h3.Center-pedidoBold
				|	Ver ubicacion
		a.Center-item(href="http://www.redbox.com.co/")
			div.Center-redBox
				img.Center-redimage(src="../images/01-index/pc.png")
			h3.Center-pedido
				|	Pide por la página
			h3.Center-pedidoBoldpag
				|	www.redbox.com.co