header.Header
	a.Header-logoLink(href="#")
		h1.Header-logo
			|	Red Box
	div.Header-main
		div.Header-titleFondo
			h1.Header-title
				|	Sede 116
		div.Header-sede
			img.Header-sedeImg(src="../images/01-index/sede.png")