div.Sedes
	h3.Sedes-title
		|	Otras sedes
	div.Sedes-list
		a.Sedes-item(href="")
			img.Sedes-img(src="../images/01-index/sede-colina.png")
			h4.Sedes-itemTitle
				|	Colina
		a.Sedes-item(href="")
			img.Sedes-img(src="../images/01-index/sede-chico.png")
			h4.Sedes-itemTitle
				|	Chicó
		a.Sedes-item(href="")
			img.Sedes-img(src="../images/01-index/sede-cedritos.png")
			h4.Sedes-itemTitle
				|	Cedritos