@import "nib"
@import "normalize.styl"
@import url('https://fonts.googleapis.com/css?family=Handlee')
@import url('https://fonts.googleapis.com/css?family=Freckle+Face')

$white = #FFF
$light_white = #EFEFEF

$black = #000

$gray = #575756

$light_red = #DB413D
$red = #B71622
$dark_red = #8A1622

html
	font-size 16px
	font-family: 'Freckle Face', cursive /* Fuente de google fonts */
	height 100%

body
	background url('../images/01-index/bg.png') fixed
	height 100%
	
img
	max-width 100%
	max-height 100%

a
	text-decoration none
	
.u-centrar
	margin 0 auto
	max-width 960px
	text-align center

/*HEADER*/
@import "../components/Header/estilos.styl"

/*CENTER*/
@import "../components/Center/estilos.styl"

/*FORM*/
@import "../components/Form/estilos.styl"

/*SEDES*/
@import "../components/Sedes/estilos.styl"

/*FOOTER*/
@import "../components/Footer/estilos.styl"